button {
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-black-light);
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

input {
    border-radius: 5px;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}