#payment .container #payment-title {
  color: #212121;
}

#payment .container #checkout-center #parentHorizontalTab ul {
  margin-top: 1.5em;
  display: flex;
}

#payment .container #checkout-center #parentHorizontalTab ul li {
  display: inline-block;
  color: #000;
  font-weight: bold;
  font-size: 2em;
  vertical-align: top;
  text-align: center;
}

#payment .container #checkout-center #parentHorizontalTab ul li span {
  display: block;
  font-size: 0.5em;
  color: #999;
}

#payment .container #checkout-center #parentHorizontalTab ul li:first-child {
  width: 50%;
  border-right: 1px solid #999;
}

#payment .container #checkout-center #parentHorizontalTab ul li:last-child {
  width: 50%;
}

#payment .container #checkout-center #parentHorizontalTab ul li:hover {
  cursor: pointer;
}

#payment .container #checkout-center #parentHorizontalTab #card-creditOrDebit {
  display: block;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form {
  display: none;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form p {
  color: #8b8b8b;
  font-size: 0.95em;
  line-height: 1.8em;
  font-weight: 400;
  margin: 10px 0;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .pp-img {
  width: 65%;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .number-paymk input[type="submit"] {
  background: #0879c9;
  color: #fff;
  text-align: center;
  padding: 11px 19px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .number-paymk input[type="submit"]:hover {
  background: #f45c5d;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .number-paymk input[type="submit"] .btn-primary {
  background-color: #3a5795;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border: none;
}

#payment .container #checkout-center .form-control {
  border-radius: 0;
}

#payment .container #codPayment {
  position: relative;
  padding: 0 1rem;
  height: 30px;
  line-height: 30px;
  background: #1275ff;
  border: 0px solid transparent;
}

#payment .container #codPayment a {
  color: white;
  font-weight: 600;
}